/* Styling for the books being shown and their container */

#book-container {
  margin-right: calc(21vw);
}

#book-container:not(:last-child) {
  margin-right: calc(21vw - 50px);
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: space-evenly;
}

.single-book {
  display: inline-block;
  width: 200px;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border: 1px solid #eeeeee;
}

.single-book img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: 45%;
}

.single-book img:hover,
.single-book .title:hover {
  cursor: pointer;
}

.single-book .title {
  font-style: italic;
}

/* Styling for the buttons to change the page of books being shown */
#book-pages-buttons {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

#book-pages-buttons button {
  font-size: 16px;
  padding: 2px 10px;
  height: 34px;
  margin: 0 10px;
}

#book-pages-buttons p {
  padding: 0 5px;
}

@media screen and (min-width: 851px) {
  #book-container {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 850px) {
  .single-book img {
    width: 100px;
    height: 150px;
  }

  .single-book {
    width: 35%;
  }

  #book-container {
    margin: 0;
    margin-bottom: 60px;
  }

  #detailed-book-phone-info {
    margin: 50px 20px;
  }
}
