#book-container {
  margin-right: calc(21vw + 10px);
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: space-evenly;
}

.single-book {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border: 1px solid #eeeeee;
}

.single-book img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: 45%;
}

.single-book img:hover,
.single-book .title:hover {
  cursor: pointer;
}

.single-book .title {
  font-style: italic;
}

@media screen and (min-width: 851px) {
  #book-container {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 850px) {
  .single-book img {
    width: 100px;
    height: 150px;
  }

  .single-book {
    width: 35%;
  }

  #book-container {
    margin: 0;
    margin-bottom: 60px;
  }

  #detailed-book-phone-info {
    margin: 50px 20px;
  }
}
