/* Style the area where additional information about a book is given, 
when a book is selected */
#book-details {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
  top: 130px;
  right: 10px;
  height: 65vh;
  width: 20vw;
  padding: 5px;
  border-left: 1px solid #ccc;
}

/* Styling for the close-button */
.close-button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: white;
  background-color: rgba(255, 73, 73, 0.8);
}

.close-button:hover {
  background-color: #ff4949;
}

#book-details img {
  width: 100%;
}

#book-details .title {
  margin-top: 20px;
}

#book-details button:not(:first-child) {
  padding: 5px;
  margin: 5px auto;
  width: 80%;
}

/* When the screen-width is small, book-details should not always be shown */
@media screen and (max-width: 850px) {
  #book-details.filter,
  #book-details.login,
  #book-details.profile,
  #book-details.home,
  #close-book-details {
    display: none;
  }

  #book-details {
    position: static;
    width: auto;
    margin: 10px 10px 50px 10px;
    border: none;
    height: auto;
  }

  #book-details p {
    margin: auto;
    margin-bottom: 10px;
  }

  #book-details img {
    width: 200px;
    margin: auto;
  }
}
