/*Styling for the entire menu*/
#filter-menu {
  width: 20vw;
  min-height: 60vh;
  min-width: 140px;
  margin-left: 10px;
  overflow-x: hidden;
  padding: 10px;
  border-right: 1px solid #ccc;
}

/*Styling for the labels*/
label {
  font-size: 15px;
}

/*Styling for the check-boxes containers*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  height: 20px;
  margin: 12px 0 25px 0;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  line-height: 20px;
}

/* Hide the browser's default checkbox. Can not remove it, 
as that would make it impossible to use the checkbox-functionalities 
that comes with a normal html checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a red background */
.container input:checked ~ .checkmark {
  background-color: #ff4949;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 850px) {
  .home#filter-menu,
  .login#filter-menu,
  .profile#filter-menu,
  .book#filter-menu {
    display: none;
  }

  #filter-menu {
    width: 100vw;
    min-height: 60vh;
    margin: 10px 0 40px 0;
    overflow-x: hidden;
    padding: 10px;
    border: none;
  }
}
