/* Styling for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  padding: 0 20px;
  height: 70px;
  border-bottom: 1px solid #ccc;
}

#title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.header-right button {
  padding: 12px;
  font-size: 18px;
  line-height: 18px;
  background-color: white;
}

.header-right button:hover {
  text-decoration: underline;
}

.login-buttons {
  float: right;
  border-radius: 4px 0 0 4px;
}

@media screen and (max-width: 850px) {
  .header-right {
    display: none;
  }
}
