/*Styling for the container*/
#search-field-and-sort-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}

/*Styling for the search-field and search-buttons*/
#search {
  width: 45%;
}

input[type="text"] {
  width: 85%;
  box-sizing: border-box;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 15px 12px 15px;
  height: 40px;
  float: left;
  outline: none;
}

#search-button {
  box-sizing: border-box;
  width: 15%;
  height: 40px;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 0 4px 4px 0;
}

/*The following code is inspired by: 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar*/

/*Styling for dropdown-menu for sorting*/
.dropdown {
  position: relative;
  display: inline;
  margin-left: 15px;
}

.dropdown-button {
  font-size: 16px;
  padding: 2px 10px;
  height: 36px;
  margin-top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Styling for when screen-width <= 850px*/
@media screen and (max-width: 850px) {
  #search {
    width: 80vw;
  }

  .dropdown-content {
    right: 0;
  }

  .profile#search-field-and-sort-container,
  .filter#search-field-and-sort-container,
  .book#search-field-and-sort-container {
    display: none;
  }
}
