#popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

#popup-content {
  width: 30%;
  margin: auto;
  background: white;
  padding: 10px;
  position: absolute;
  top: 70px;
  right: 5%;
  z-index: 2;
}

#popup-close-button {
  float: right;
  background-color: #ff4949;
  padding: 5px;
}

#popup input[type="text"],
#userHandling #username-input,
input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 15px 12px 15px;
  height: 40px;
  float: left;
  outline: none;
  margin: 10px 10px 10px 0;
}

#popup input[type="submit"],
#userHandling input[type="submit"] {
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 850px) {
  #popup-close-button {
    display: none;
  }
}
