#book-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.book {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border: 1px solid #eeeeee;
}

.book img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: 45%;
}

.book img:hover {
  cursor: pointer;
}

.title {
  font-style: italic;
}

.title:hover {
  cursor: pointer;
}

.author {
  margin: 0;
}
