/*Styling for the to-top button*/
#to-top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 0;
  border: none;
}

@media screen and (max-width: 850px) {
  #to-top {
    display: none;
  }
}
